<%= form_for @purchase_order, :html => { :class => "form-horizontal purchase_order" } do |f| %>

    <% if @purchase_order.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@purchase_order.errors.count, "error") %> prohibited this purchase_order from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @purchase_order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :number, :class => 'form-control' %>
    </div>
    <%= error_span(@purchase_order[:number]) %>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :date, :class => 'form-control' %>
    </div>
    <%= error_span(@purchase_order[:date]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            purchase_orders_path, :class => 'btn btn-default' %>

<% end %>
